body {
    background: black;
}

.clock {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    color: #33ff00;
    font-size: 90px;
    font-family:  'Wallpoet', cursive;
    letter-spacing: 7px;
   


}